@media (max-width: 768px){
  #tabs-\:r1\:--tabpanel-0 > div > div > div.chakra-card__body.css-1idwstw > div > div:nth-child(3) {
    flex-direction: column;
  } 

  #tabs-\:r1\:--tabpanel-0 > div > div > div.chakra-card__body.css-1idwstw > div > div:nth-child(3) > div:nth-child(1) {
    margin: 0 20px;
    margin-bottom: 50px;
  }

  #tabs-\:r1\:--tabpanel-0 > div > div > div.chakra-card__body.css-1idwstw > div > div:nth-child(3) > div:nth-child(2) {
    margin: 0 20px !important;
    margin-bottom: 50px !important;
  }

  #tabs-\:r1\:--tabpanel-0 > div > div > div.chakra-card__body.css-1idwstw > div > div:nth-child(3) > div:nth-child(3) {
    display: none;
  }

  #tabs-\:r1\:--tabpanel-0 > div > div > div.chakra-card__body.css-1idwstw > div > div:nth-child(3) > div:nth-child(4) {
    margin: 0 20px !important;
    margin-bottom: 50px !important;
  }

  #tabs-\:r1\:--tabpanel-0 > div > div > div.chakra-card__body.css-1idwstw > div > div:nth-child(3) > div:nth-child(4) > h2, #tabs-\:r1\:--tabpanel-0 > div > div > div.chakra-card__body.css-1idwstw > div > div:nth-child(3) > div:nth-child(4) > div {
    margin-left: 0 !important;
  }

}