@media (max-width: 1024px){
  
  .formula-container {
    flex-direction: column;
  }

  .valores-input {
    margin: 0 !important;
    margin-top: 30px !important;
  }

  .result-wrapper {
    margin: 0 !important;
    margin-top: 30px !important;

  }

}

@media (min-width: 1280px) {
  .result-wrapper {
    min-width: 50%;
  }
}